version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "MinhaSenha123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - mynetwork

  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: myrecipebook
    depends_on:
      - sqlserver
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__ConnectionSQLServer: "Server=sqlserver,1433;Database=meulivrodereceitas;User ID=sa;Password=MinhaSenha123;Encrypt=False;TrustServerCertificate=True"
      ConnectionStrings__DatabaseType: "SqlServer"
    ports:
      - "8080:8080"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  sql_data: